.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    padding: 8px;

    + .wrapper {
        margin-left: 16px;
    }

    // Disabled
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .icon {
        display: inline-block;
        text-align: center;
        width: 24px;
        font-size: 1.8rem;
        color: rgb(22, 24, 35);
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

// Button type
.rounded {
    border-radius: 999px;
    min-width: 90px;
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.4rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);
    padding: 7px 8px;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary);
    color: var(--color-white);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    border-color: var(--primary);
    background-color: var(--color-white);
    font-weight: 600;
    color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    min-width: 113px;
    border-color: rgba(22, 24, 35, 0.12);
    padding: 8px 16px;

    &:hover {
        border-color: rgba(22, 24, 35, 0.12);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// Button size
.small {
    min-width: 88px;
    padding: 4px 10px;
}

.large {
    min-width: 140px;
    padding: 13px 8px;
    font-size: 1.8rem;
}
